*{
    padding: 0;
    margin: 0;
    font-family: "roboto";
    background-color: #F4E0B9;
}

h1{
    text-align: center;
    margin-top: 3rem;
}

.outer-div{
    width: 100%;
    display: flex;
    justify-content: center;
}

.form{
    text-align: center;
    
    border: 0px solid black;
  margin: 5rem ;
  padding: 1.5rem 2rem;
  border-radius: 0.6rem;
  background-color: white;
  box-shadow: 5px 10px 8px black;
}
    
.form section{
    background-color: white;
}

.btn{
    padding: 0.8rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
background-color:whitesmoke;
font-weight: 500;;
}

